/* PHASE 2: Navigation */

.header-logo {
  float: left;
  font-weight: bold;
  border-right: 1px solid #ccc;
}

.header-logo:hover {

}

.header-list {
  float: right;
}

.header-list > li {
  border-left: 1px solid #ccc;
  float: left;
}

.header-list > li:hover {

}
