<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv='Content-Type'>
  </head>
  <body>
    <h1>Welcome to App Academy <%= @user.username %>!</h1>
    <p>
      Congratulations on being accepted to App Academy. We think you pretty smart so we have accepted you into our program. Your username is <%= @user.username %>.
    </p>

  </body>
</html>
